## Cuadrados medios
REpresentar ejercicio hecho en clases

In [3]:
#Juan Carlos Benavides C.
#Librerias
from tabulate import tabulate
from pandas import DataFrame



print("Escriba la semilla :")
semt=int(input())
print("Escriba la cantidad de digitos :")
cantidadD=int(input())
print("Escriba la cantidad de iteraciones :")
iteraciones=int(input())
semilla=semt
cantidad=iteraciones
semillacuadrada=0
digitos=cantidadD
scuadrado=[]
datosXN=[]
datosXN2=[]
rndatos=[]
tamanio=[]

print("semilla :",semilla)
for i in range(0,cantidad):
    semillacuadrada=semilla*semilla
    datosXN.append(semilla)
    xn=str(semillacuadrada)
    longit=len(xn)
    tamanio.append(longit)
    d1=int((int((longit/2))-int((digitos/2))))
    d2=int((int((longit/2))+int((digitos/2))))
    semillanueva=xn[int(d1):int(d2)]
    nuevo=int(semillanueva)
    inicio="1"
    for j in range(0,digitos):
        inicio=inicio+"0"
    RN=(nuevo/int(inicio))
    semilla=nuevo
    datosXN2.append(nuevo)
    scuadrado.append(semillacuadrada)
    rndatos.append(RN)

##TAbla

dict_listas = {'XN' : datosXN, 'XN*XN' : scuadrado,'tamano' : tamanio,'UI' : datosXN2,'RN' : rndatos,}
dataframe = DataFrame(dict_listas)
dataframe

Escriba la semilla :
10022
Escriba la cantidad de digitos :
5
Escriba la cantidad de iteraciones :
10
semilla : 10022

      XN      XN*XN  tamano    UI       RN
0  10022  100440484       9   440  0.00440
1    440     193600       6  9360  0.09360
2   9360   87609600       8  6096  0.06096
3   6096   37161216       8  1612  0.01612
4   1612    2598544       7  5985  0.05985
5   5985   35820225       8  8202  0.08202
6   8202   67272804       8  2728  0.02728
7   2728    7441984       7  4419  0.04419
8   4419   19527561       8  5275  0.05275
9   5275   27825625       8  8256  0.08256